.error-box{
    width: 400px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0,0,0.2);
    border-radius: 10px;
    margin: 100px auto;
    padding: 5px;
    text-align: center;
}

.error-box h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 18, 41);
    margin-top: 10px;
}

.error-box p{
    color: gray;
    margin-top: 20px;
}

.error-box a{
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 5px;
    
    
}